.header-right-avatar {
  user-select: none;
  height: 30px;
  margin-left: 12px;
  vertical-align: -7px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;

  &:hover {
    filter: brightness(80%);
  }
}
