html,
body {
  width: 100% !important;
  height: 100% !important;
  overflow: visible !important;
  overflow-x: hidden !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
  position: relative;
  padding: 20px;
}

input,
button {
  &:focus {
    outline: none;
  }
}

input[type='search'] {
  appearance: auto;
  box-sizing: border-box;
  padding: 1px 2px;
}

&::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

&::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}

&::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(208, 210, 213, 1);
}

.selection-area {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.selected {
  transition: background-color 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
}

.n-auto-complete {
  z-index: auto;
  position: relative;
  display: inline-flex;
  width: 100%;
}

.markdown-body {
  background-color: transparent;
  font-size: 14px;

  p {
    white-space: pre-wrap;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  pre code,
  pre tt {
    line-height: 1.65;
  }

  .highlight pre,
  pre {
    background-color: #fff;
  }

  code.hljs {
    padding: 0;
  }

  .code-block {
    &-wrapper {
      position: relative;
      padding-top: 24px;
    }

    &-header {
      position: absolute;
      top: 5px;
      right: 0;
      width: 100%;
      padding: 0 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #b3b3b3;

      &__copy {
        cursor: pointer;
        margin-left: 0.5rem;
        user-select: none;
        &:hover {
          color: #65a665;
        }
      }
    }
  }
}

html.dark {
  .highlight pre,
  pre {
    background-color: #282c34;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

:global(.file-drop) {
  height: 100%;

  :global(.file-drop-target) {
    height: 100%;

    &.file-drop-dragging-over-frame {
      &::after {
        z-index: 100;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.file-drop-dragging-over-target {
      &::before {
        z-index: 101;
        content: '文件将储存到当前目录下';
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        border: 2px #00b3ff dashed;
        border-radius: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .main-table {
      height: 100%;

      .file-meta {
        display: flex;
        flex-direction: row;
        align-items: center;

        .file-icon {
          font-size: 25px;
        }

        .file-name {
          overflow: hidden; //超出的文本隐藏
          text-overflow: ellipsis; //溢出用省略号显示
          white-space: nowrap; //溢出不换行
          margin-left: 10px;
        }
      }
    }

    .main-grid {
      height: calc(100% - 30px);
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(auto-fill, 90px);
      grid-template-rows: 90px;
      grid-row-gap: 5px;
      grid-column-gap: 5px;

      .main-grid__cell {
        // float: left;
        height: 80px;
        width: 80px;
        // margin: 5px;
        overflow: hidden;

        &:hover {
          .main-grid__cell-inner {
            background: rgba(0, 0, 0, 0.3);

            .name {
              color: #fff;
            }
          }
        }

        .main-grid__cell-inner {
          padding: 5px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .preview-image {
            overflow: hidden;

            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
            }
          }

          .name {
            display: inline-block;
            font-size: 12px;
            line-height: 17px;
            width: 100%;
            color: #000;
            text-align: center;
            padding-top: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
