.apps {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 44px 24px;

  .app-item {
    color: #000;
    position: relative;
    transition: transform 0.3s;

    &:hover {
      cursor: pointer;
    }

    .app-item-container {
      position: relative;

      img {
        border-radius: 0.75em;
        width: 100%;
        user-select: none;
        aspect-ratio: 1 / 1;
        border: 1px solid rgba(0, 0, 0, 0.04);
      }

      .shade {
        position: absolute;
        top: 0;
        height: calc(100% - 3px);
        width: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        .shade-play {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          backdrop-filter: blur(8px);
          background: rgba(255, 255, 255, 0.14);
          border: 1px solid rgba(255, 255, 255, 0.08);
          height: 34%;
          width: 34%;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.2s;
          .svg-icon {
            height: 44%;
            margin-left: 4px;
          }
          &:hover {
            background: rgba(255, 255, 255, 0.28);
          }
          &:active {
            transform: scale(0.94);
          }
        }
      }
    }

    .app-item-title {
      text-align: center;
      margin-top: 8px;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      word-break: break-all;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
