.apps {
  display: grid;

  .app-item {
    color: #335eea;
    .text {
      margin-top: 8px;
      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-all;
      }
      .info {
        font-size: 12px;
        opacity: 0.68;
        line-height: 18px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        word-break: break-word;
      }
    }
  }
}
