.services-wrapper {
  height: 100%;
  width: 100%;

  .apps-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    padding-bottom: 18px;
    position: relative;

    .apps-main-wrapper-back {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    button {
      width: 150px;
      color: #000;
      background: #f5f5f7;
      padding: 8px 12px 8px 12px;
      font-weight: 600;
      border-radius: 8px;
      transition: 0.2s;
      &:hover {
        transform: scale(1.06);
      }
      &:active {
        transform: scale(0.94);
      }
    }

    .app-description-section_btn {
      margin-left: 5px;
      color: red;
      width: 60px;
      padding: 5px;
    }

    .apps-main-wrapper-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      overflow: auto;

      & > span {
        font-weight: bold;
        font-size: 20px;
      }

      .apps-main-wrapper-box {
        .apps-main-wrapper-box-row {
          display: flex;
          padding: 15px 0px;

          .apps-main-wrapper-box-col {
            width: 120px;
            padding: 8px;
            display: flex;
            align-items: center;
          }

          .apps-main-wrapper-box-input {
            display: flex;
            justify-content: flex-end;
            color: #000;

            .apps-main-wrapper-box-input-container {
              display: flex;
              align-items: center;
              height: 46px;
              background: #f5f5f7;
              border-radius: 8px;
              width: 300px;

              .apps-main-wrapper-box-input-container-input {
                display: flex;
                width: 85%;

                input {
                  font-size: 20px;
                  border: none;
                  background: transparent;
                  width: 100%;
                  font-weight: 600;
                  margin-top: -1px;
                  color: #000;
                  padding-left: 5px;
                }

                input::placeholder {
                  color: #000;
                  opacity: 0.38;
                }

                input#countryCode {
                  flex: 3;
                }
                input#phoneNumber {
                  flex: 12;
                }
              }
            }

            .apps-main-wrapper-box-input-active {
              background: #eaeffd;

              input {
                color: #335eea;
              }
            }
          }
        }
      }
    }

    .apps-main-wrapper-left {
      width: 180px;
      flex-direction: column;
      padding: 0 18px;
      height: 100%;

      .apps-main-wrapper-header {
        height: 50px;
        line-height: 50px;
      }

      .apps-main-apps {
        height: calc(100% - 50px);
        padding: 0;
        margin: 0;
        overflow: auto;
        list-style: none;

        .no-result {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .apps-main-apps-item {
          height: 40px;
          padding: 0 18px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .apps-main-apps-item-btn {
            height: 100%;
            width: 100%;
            background: none;
            border: none;
            outline: none;
            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: #fff;
            cursor: pointer;

            .svg-icon {
              height: 30px;
              width: 30px;
            }

            span {
              text-indent: 10px;
              overflow: hidden; //超出的文本隐藏
              text-overflow: ellipsis; //溢出用省略号显示
              white-space: nowrap; //溢出不换行
            }
          }

          &.active {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
          }
        }
      }
    }

    .apps-main-wrapper-right {
      width: calc(100% - 180px);
      overflow: auto;

      .main-right_form_title {
        color: #000;
        font-size: 25px;
        margin-bottom: 30px;
      }
    }
  }
}
