.content_outer {
  h1 {
    position: relative;
    color: #000;
    font-size: 56px;
    width: max-content;

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 12px;
      background: #ff2a14;
      background: linear-gradient(90deg, #ff9800, #ff2a14) !important;
      opacity: 0.1;
      width: 100%;
      border-radius: 18px;
      z-index: -1;
    }
  }

  .btns {
    display: flex;
    flex-wrap: wrap;

    .btn {
      user-select: none;
      cursor: pointer;
      padding: 8px 16px;
      margin: 10px 16px 6px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      border-radius: 10px;
      background-color: #f5f5f7;
      color: #7a7a7b;
      transition: 0.2s;

      &:hover {
        background-color: #eaeffd;
        color: #335eea;
      }
    }

    .active {
      background-color: #eaeffd;
      color: #335eea;
    }
  }

  .app-list {
    margin-top: 24px;
  }
}
