.header {
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  height: 30px;
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: flex-end;

  p {
    color: #999;
    cursor: pointer;
    padding-left: 10px;
    display: inline-block;
    margin: 5px;
  }
}
